body {
  font-family: "Roboto";
}

header {
  background-color: #F2BC51;
}

img {
  width: 100%;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  border-bottom: 0.5px solid #aaaaaa;
  margin: 0;
  padding: 0;
  display: block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.text {
  text-align: center;
  font-size: 16px;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  border-top: 0.5px solid #aaaaaa;
  margin-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.text p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  margin-top: 0;
}

@media only screen and (min-width: 640px) {
  .row {
    margin-top: 70px;
  }
  header .row {
    margin-top: 0;
  }
}
